<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>家庭教師を見つけよう!</h1>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-danger" %><br><br>

  <span>初めての方は・・・</span><br>
  <%= link_to "新規ユーザー登録", signup_path, class: "btn btn-lg btn-danger" %>
</div>