<% provide(:title, "Top") %>
<div>
  <%= image_tag "/images/top.jpg", alt: "オンラインで家庭教師の授業を受ける子供", class: "img-responsive img-rounded" %>
</div>
<div class="center">
  <h1>家庭教師を見つけよう</h1>

  <% if logged_in? %>
    <button class="btn btn-lg btn-danger" disabled="disabled">ログイン</button>
    <br>
    <br>
    <button class="btn btn-lg btn-danger" disabled="disabled">ユーザー登録</button>
  <% else %>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-danger" %>
    <br>
    <br>
    <small>初めての方は・・・</small>
    <br>
    <%= link_to "新規ユーザー登録", signup_path, class: "btn btn-lg btn-danger" %>
  <% end %>
</div>

