<% provide(:class_text, 'basic-info') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!--ここからモーダルの中身-->
          モーダル中身
          <h1><%= @attendance.worked_on %>の<%= @user.name %>さんの授業設定</h1>
          <!--ここからコピぺの改造-->
          <%= form_with(model: @attendance, url: attendances_update_one_day_user_path, local: true, method: :patch) do |f| %>
                        <!--チェックなし　０　チェックあり　１-->
                        <td><%= f.check_box :lesson_status_00 , prompt: "" %></td>  
          <% end %>
            <!--ここまでモーダルの中身-->
        </div>
      </div>
    </div>
  </div>
</div>